@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
.Principal {
    scroll-behavior: smooth;
}

.Principal .presentacion{
    background: url('../images/fondo_inicio.jpg');
    background-size: cover;
    background-position:top;
}

.Principal .presentacion .contenido{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.Principal .presentacion .contenido header{
    padding:30px;
}

.Principal .presentacion .contenido header .nav-bar { 
    position: fixed;
    background-color: #0033ff;
    font-size: 20px;
    width:50px;
    height:50px;
    border-radius: 50%;
    line-height: 50px;
    cursor:pointer;
    transition: .3s;
}


.Principal .presentacion .contenido header .nav-bar a{ 
    color: #ffffff;
}

.Principal .presentacion .contenido header nav { 
    position: fixed;
    margin-left:60px;
    background-color: #0033ff;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.Principal .presentacion .contenido header nav a{ 
    display: block;
    color: #ffffff;
    text-decoration:none;
    margin-bottom:10px;
    font-weight: bold;
}

.Principal .presentacion .contenido header .nav-bar:hover { 
    box-shadow: 0 0 35px #fff;

}

.Principal .presentacion .contenido .info{
    padding-bottom: 130px;
}

.Principal .presentacion .contenido .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
    color: white;
}

.Principal .presentacion .contenido .info h2{
    font-weight: normal;
    font-size: 25px;
    margin-top: -10px;
    letter-spacing: 2px;
    color: #fff;
}

.Principal .presentacion .contenido .info .redes{
    margin: 20px 0
}

.Principal .presentacion .contenido .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000c78;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: 0.3s;
}

.Principal .presentacion .contenido .info .redes a:hover{
    color: #fff;
    background-color: #4f6dff;
    box-shadow: 0 0 20px #fff;
}


.Principal .presentacion .contenido .foto{
    position: relative;
}

.Principal .presentacion .contenido .foto img{
    max-width: 250px;
    border-radius: 50%;
    border: 5px solid #19007c;
    position: absolute;
    left: 50%;
    top:-130px;
    transform: translateX(-50%);
}

.Principal .info_personal{
    background-color: #d6d6d6;
    padding: 140px 0 100px 0 ;
    text-align: center;
    color: black;
}

.Principal .info_personal .contenido{
    margin: auto;
    padding: 0 10px;
    max-width: 800px;
}

 h3{
    font-family: "Yellowtail";
    font-size: 1.5rem;
}

.Principal .info_personal .contenido h2{
    text-transform: uppercase;
    font-size: 30px;
}

.Principal .info_personal .contenido .especial{
    color: #00008e;
    font-weight: bold;
    margin-top: 15px;
}

.Principal .info_personal .contenido p{
    max-width: 700px;
    margin: auto;
    color: #666;
}

.Principal .info_personal .contenido .fila {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.Principal .info_personal .contenido .fila .col{
    width: 30%;
}
.Principal .info_personal .contenido .fila .col i{
    color: #940253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
}
.Principal .info_personal .contenido .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px;
}

.Principal .habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("../images/habilidades.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.Principal .habilidades .contenido{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.Principal .habilidades .contenido h2{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}

.Principal .habilidades .contenido .seleccion .fila{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 75px;
}

.Principal .habilidades .contenido .seleccion .fila .columna{
    width: 30%;
}

.Principal .experiencia{
    background-color: #e6e6e6;
    padding: 100px 0;
    text-align: center;
}

.Principal .experiencia .contenido{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.Principal .experiencia .contenido h2{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}
.Principal .experiencia .contenido .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.Principal .experiencia .contenido .info .col{
    width: 45%;
}
.Principal .experiencia .contenido .info .titulo{
    display: inline-block;
    color: #001ae0;
    font-weight: bold;
    border: 2px solid #001ae0;
    padding: 10px;
}
.Principal .experiencia .contenido .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.Principal .experiencia .contenido .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.Principal .experiencia .contenido .info .col table h4{
    margin-top: 10px;
}
.Principal .experiencia .contenido .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.Principal .experiencia .contenido .info .col table p {
    font-size: 14px;
}
.Principal .experiencia .contenido .info .col table .promedio{
    display: block;
    color: #940253;
    margin-top: 10px;
    font-weight: bold;
}
.Principal .experiencia .contenido .info .col table .descripción{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

.Principal .contacto{
    background-color: #202020;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}
.Principal .contacto .contenido{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.Principal .contacto .contenido h3{
    text-transform: uppercase;
    font-size: 30px;
}
.Principal .contacto .contenido .fila{
    display: flex;    
    justify-content: space-around;
}
.Principal .contacto .contenido .fila .col{
    margin-top: 50px;
}
.Principal .contacto .contenido .fila .col h2{
    color: #940253;
}


@media screen and (max-width:800px){
    .Principal .habilidades .contenido .fila{
        display: block;
    }
    .Principal .habilidades .contenido .fila .col{
        width: 100%;
        text-align: center;
    }
    .Principal .habilidades .contenido .fila .col .cont-barra{
        justify-content: center;
    }
    .Principal .info_personal .contenido .fila{
        display: block;
    }
    .Principal .info_personal .contenido .fila .col{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .Principal .experiencia .contenido .info{
        display: block;
    }
    .Principal .experiencia .contenido .info .col{
        width: 90%;
        margin: auto;
    }
    .Principal .experiencia .contenido .info .col .titulo{
        display: block;
    }
}