.ProgresoLenguajes {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: center; /* Alinea horizontalmente al centro */
}

.ProgresoLenguajes .fa-arrow-left {
    cursor: pointer; /* Cambia el cursor al pasar sobre la flecha */
    height: 25px;
}

.ProgresoLenguajes .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.ProgresoLenguajes .fila .columna{
    width: 45%;
    text-align: left;
}