.ProgresoFramework {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: center; /* Alinea horizontalmente al centro */
    margin-top: 69px;
}

.ProgresoFramework .back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

.ProgresoFramework .fa-arrow-left {
    cursor: pointer; /* Cambia el cursor al pasar sobre la flecha */
    height: 25px;
    color: white;
}

.ProgresoFramework .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ProgresoFramework .fila .columna{
    width: 45%;
    text-align: left;
}